{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block outer %}
  <div class="off-canvas-container">
    {{ nav(page, {classes: 'off-canvas-nav hide-desktop', logo: true, showChildren: true}) }}
  </div>
{% endblock%}

{% block header %}

    {% block nav %}
    {% endblock %}
      
      {% block headerContent %}
      {% endblock %}

  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>
{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
  <footer class="block footer">
    <div class="inner">
      {% block footerContent %}
        <div class="row">
          <div class="col-md-4">
              <img class="img-responsive thumbnail" src="images/footer.jpg">
                <h4>Great Food. Local beer.<br> Nuff' said.</h4>
          </div>
          <div class="col-md-8">
              <p class="footer-text"><b>Welcome to Guri's GrubHouse,</b><br> we're Fresno's Best Gastropub. We specialize in classic pub fare made from scratch while delivering hand crafted cocktails and the best craft beer selection in town. <br><br>Love bacon? We make our own! We take pride in Smoking, Brining, Curing our own meats and sourcing our produce from local farmers.</p>
          </div>

        </div>
         <div class="col-md-12 text-center social">
        <a style="padding: 1em;" href="https://www.facebook.com/GurisGrubHouse"><i style="color:white;" class="fa fa-facebook fa-3x"></i></a>
        <a style="padding: 1em;" href="https://twitter.com/gurisgrubhouse"><i style="color:white;" class="fa fa-twitter fa-3x"></i></a>
        <a style="padding: 1em;" href="https://instagram.com/guris_grubhouse/"><i style="color:white;" class="fa fa-instagram fa-3x"></i></a>
      </div>
        <a style="text-decoration:none;" href="http://www.enigmacreativegroup.com"><p class="text-muted branding">website designed by Enigma creative Group</p></a>
        </div>
      {% endblock %}
  </footer>
{% endblock %}
