{% extends "layout.html" %}
{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}


{% block nav %}

      <nav style="margin-bottom:-20px;" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {% if page.parent.type == 'default' %}
          		<a class="subnav-parent" href="{{ page.parent.url }}">← {{ page.parent.title }}</a>
        	{% endif %}
        	 <li><a href="/">Home</a></li>
              
              <li><a href="#">Chefs Blog</a></li>
              <li><a href="#">Contact</a></li>
            {% for child in page.children %}
              <li><a href="/">Home</a></li>
              <li><a href="{{ child.url }}">{{ child.title }}</a></li>
              <li><a href="#">Chefs Blog</a></li>
              <li><a href="#">Contact</a></li>
              {% endfor %}
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
{% endblock %}
{% block main %}
<div class="row">
	<div class="menu text-center col-md-5 col-md-offset-1">
	  <h1>Appetizers</h1>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul>
	    <li class="veggie">
	      <em><b>Jalapeno Poppers  $8</b><br>Fresh jalapenos, house smoked bacon cream cheese, cheddar bread crumbs </em>
	    </li>
	    <li>
	      <em><b>Poutine  $7</b><br>Shoe-string fries topped with brown gravy, fried dairy goddess cheese curd</em>
	    </li>
	    <li class="veggie">
	      <em><b>Tater Skins  $7</b><br>Cheddar cheese, house smoked bacon bits, creme fraiche, green onions<br>&nbsp;</em>
	    </li>
	    <li>
	      <em><b>Carne Asada Fries  $8</b><br>Shoe-string fries, carne asada, cheddar, cheese sauce, cilantro, pico degallo, crème fraiche </em>
	    </li>
	    <li>
	      <em><b>Bluecorn Dipped Dogs  $8</b><br>Homemade corndogs served with sriracha ketchup, ale infused mustard</em>
	    </li>
	    <li>
	      <em><b>Beer Rocks  $6.5</b><br>Seasoned‎ hamburger and cabbage, wrapped in a biscuit </em>
	    </li>
	    <li>
	      <em><b>Paper Bag Chips & Dip  $6</b><br>Homemade potato chips served with smoked bacon and onion dip</em>
	    </li>
	  </ul>
	</div>
	<div class="menu text-center col-md-5">
	  <h1>Sandwiches</h1>
	  <h4 class="text-muted">served with just-fried chips on <i>max’s artisan bread</i>,<br> sub shoe-string fries <b>$1</b><br>Add chicken or egg <b>$2</b></h4>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul>
	    <li>
	      <em>{{ aposArea(page, 'sandwich1', {
          controls: ['style'],
                styles: [
            { value: 'h4', label: 'Title' }
            ],
            lockups: ['left', 'right']
            }) 
          }}<br>{{ aposArea(page, 'sandwich1-text', {
          controls: ['style', 'bold', 'italic', 'createLink', 'unlink'],
          styles: [
            { value: 'em', label: 'Text' }
          ],
          lockups: ['left', 'right']
        }) }}</em>
	    </li>
	    <li>
	      <em><b>Poutine  $7</b><br>Shoe-string fries topped with brown gravy, fried dairy goddess cheese curd</em>
	    </li>
	    <li>
	      <em><b>Tater Skins  $7</b><br>Cheddar cheese, house smoked bacon bits, creme fraiche, green onions<br>&nbsp;</em>
	    </li>
	    <li>
	      <em><b>Carne Asada Fries  $8</b><br>Shoe-string fries, carne asada, cheddar, cheese sauce, cilantro, pico degallo, crème fraiche </em>
	    </li>
	    <li>
	      <em><b>Bluecorn Dipped Dogs  $8</b><br>Homemade corndogs served with sriracha ketchup, ale infused mustard</em>
	    </li>
	    <li>
	      <em><b>Beer Rocks  $6.5</b><br>Seasoned‎ hamburger and cabbage, wrapped in a biscuit </em>
	    </li>
	    <li>
	      <em><b>Paper Bag Chips & Dip  $6</b><br>Homemade potato chips served with smoked bacon and onion dip</em>
	    </li>
	  </ul>
	</div>
</div> <!-- ends row -->
	<section class="row features2">
    <div id="reserve" class="col-md-12">
      <div style="z-index: 2;" class="col-md-4 col-md-offset-2">
      <h4 class="join">
          {{ aposArea(page, 'title1-menu', {
          controls: ['style'],
                styles: [
            { value: 'h4', label: 'Title' }
            ],
            lockups: ['left', 'right']
            }) 
          }}
        </h4>
        {{ aposArea(page, 'main1-menu', {
          controls: ['style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'video'],
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h5', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}
      </div>
      <div style="z-index: 2;" class="col-md-4">
        <h4 class="join">
          {{ aposArea(page, 'title2-menu', {
          controls: ['style'],
                styles: [
            { value: 'h4', label: 'Title' }
            ],
            lockups: ['left', 'right']
            }) 
          }}
        </h4>
        {{ aposArea(page, 'main2-menu', {
          controls: ['style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'video'],
          styles: [
            { value: 'p', label: 'Text' },
            { value: 'h3', label: 'Title' },
            { value: 'h5', label: 'Subtitle' }
          ],
          lockups: ['left', 'right']
        }) }}
      </div>
    </div>
  </section>
</div>

<h1>test</h1>

{% endblock %}