{% extends "layout.html" %}
{% block bodyClass %}{{ super() }} menu-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}


{% block nav %}
      <nav style="margin-bottom:-20px;" class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Project name</a> -->
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            {% if page.parent.type == 'default' %}
          		<a class="subnav-parent" href="{{ page.parent.url }}">← {{ page.parent.title }}</a>
        	{% endif %}
        	 <li><a href="/">Home</a></li>
            {% for child in page.children %}
              <li><a href="/">Home</a></li>
              <li><a href="{{ child.url }}">{{ child.title }}</a></li>

              {% endfor %}
<li><a href="/chefs-blog">Chefs Blog</a></li>
<li><a href="/drinks">Drinks</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
{% endblock %}
{% block main %}
<div class="row brick">
	<div class="menu text-center col-md-5 col-md-offset-1">
	  <h1>Appetizers</h1>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li class="veggie">
	      <em>{{ aposArea(page, 'menuappetizer1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuappetizer2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li class="veggie">
	      <em>{{ aposArea(page, 'menuappetizer3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuappetizer4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuappetizer5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuappetizer6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuappetizer7', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul> <!-- APPETIZERS -->
	</div>
	<div class="menu text-center col-md-5">
	  <h1>Sandwiches</h1>
	  <h4 class="text-muted">served with just-fried chips on <i>max’s artisan bread</i></h4>
		<span class="menu-extra">
	  	  - sub shoe-string fries <b>$1</b><br> - Add chicken or egg <b>$2</b>
	  	</span><br>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menusandwich1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menusandwich7', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul> <!-- SANDWICHES -->
	</div>
</div> <!-- ends row -->
<div class="row brick">
	<div class="menu text-center col-md-5 col-md-offset-1"> <!-- BURGERS AND TACOS -->
	  <h1>Burgers</h1>
	  <h4 class="text-muted">our half pound handmade burger patties are made with <i>house ground chuck</i> and <i>house cured bacon</i> served on <i>max’s artisan bread</i> with shoe-string fries<br></h4>
	  	<div class="menu-extra">
	  	 - add house smoked bacon <b>$3</b><br> - fried farm egg <b>$2</b>
	  	</div><br>
	  	<div class="menu-extra">
	  	 - pickled jalapenos <b>$2</b><br> - house pastrami <b>$4</b><br> - kitchen sink <b>$7</b>
		</div>
	  	 
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li class="veggie">
	      <em>{{ aposArea(page, 'menuburger1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuburger2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li class="veggie">
	      <em>{{ aposArea(page, 'menuburger3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuburger4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul>
	  <h1>Street Tacos</h1>
	  <h4 class="text-muted">carne asada, carnitas, shredded chicken, shrimp<br></h4>
	  	<div class="menu-extra">
	  	  - 1 for <b>$3</b><br> - 2 for <b>$6</b><br> - 3 for <b>$8</b><br>
	  	</div>
	</div>
	<div class="menu text-center col-md-5">
	  <h1>Artisan Flatbread Pizzas‎</h1>
	  <h4 class="text-muted">our pizzas start with fresh dough</h4>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menupizza1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza7', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menupizza8', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul>
	</div>
</div>
<div class="row brick">
	<div class="menu text-center col-md-5 col-md-offset-1">
	  <h1>Mac and Cheeses</h1>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menumac1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menumac2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menumac3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menumac4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    
	  </ul>
	</div>
	<div class="menu text-center col-md-5">
	  <h1>Soups & Salads</h1>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menuss1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuss2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuss3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuss4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuss5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuss6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul>
	</div>
</div> <!-- ends row -->
<div class="row brick">
	<div class="menu text-center col-md-5 col-md-offset-1">
	  <h1>Dinner Entrees</h1>
	  <div class="menu-extra">
	  	 <p>served EVERYDAY <b>4PM - Close</b></p>
	  </div><br>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menuentree1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul>
	  <h1>Specials</h1>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menuentree7', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menuentree8', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	   </ul>
	</div>
	<div class="menu text-center col-md-5">
	  <h1>Brunch</h1>
	  <h4 class="text-muted">served with your choice of fresh fruit, cheesy grits, biscuits and gravy, toast or cheddar hash-browns</h4>
	  	<div class="menu-extra">
	  	 Served SAT and SUN <b>11AM - 3PM</b>
	  	</div><br>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menubrunch1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch3', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch6', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch7', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menubrunch8', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	  </ul>
	</div>
</div> <!-- ends row -->
<div class="row brick">
	<div class="menu text-center col-md-6 col-md-offset-3">
	  <h1>Dessert</h1>
	  <div class="corner topleft"></div>
	  <div class="corner topright"></div>
	  <div class="corner bottomleft"></div>
	  <div class="corner bottomright"></div>
	  <ul class="menu-content">
	    <li>
	      <em>{{ aposArea(page, 'menudessert1', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menudessert2', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menudessert4', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    <li>
	      <em>{{ aposArea(page, 'menudessert5', {
          controls: ['style'],
                styles: [
            { value: 'p', label: 'Title', attributes: { class: 'menu-title' } },
            { value: 'p', label: 'Text', attributes: { class: 'menu-text' } }
            ],
            lockups: ['left', 'right']
            }) 
          }}</em>
	    </li>
	    
	   </ul>
	</div>
</div> <!-- ends row -->

</div>

{% endblock %}